<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>I am a Data Science enthusiast. I graduated from George Mason University with a Master's degree in Data Analytics Engineering. I received my Bachelor’s degree in Computer Science and Engineering from Visvesvaraya Technological University. I also have professional work experience as a SQL and Java developer for almost one year at Accenture, India. Moreover, I was interned at George Mason University where I worked on Tableau CRM for business, marketing, and analysis. I strongly believe in character, value, vision, and action. I am always passionate, self-driven about achieving my goals and ambitions. My intention is to tackle highly complex data issues and give unique solutions to them. Also, I would like to contribute my knowledge in researching about discovering hidden information in big data.
              </p>
        
            
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">September 21, 1995</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">prateek.chitpur2123@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">571-595-2595</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>