<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2021</p>
              <div class="h5">Master's of Science</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">M.S. in Data Analytics Engineering</div>
               <h4 class="category">George Mason University
               </h4>
               <ul>
                <li>
                  GPA: 3.80
                                  </li>
                                  <li>
                                    Relevant Coursework: OR 568 Applied Predictive Analytics, GBUS 738 Data Mining for Business Analytics, CS 657 Mining Massive Datasets, CS 584 Data Mining, 
                                    OR 610 Deep Learning: Predictive Analytics, OR 531 Analytics/Decision Analysis
                                  </li>
                                  
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2018</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering in Computer Science</div>
               <h4 class="category">Visvesvaraya Technological University
               </h4>
               <ul>
                <li>First Class</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      
      
  </div>
